################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
node_modules
.vscode
.vs
.vscode/launch.json
package-lock.json
/bin
/obj
bin
obj